.body {
    background-color: #212121;
    width: 90rem;
}

.h1 {
    color: #FFF;
    text-align: center;
    font-family: "IBM Plex Mono";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.h2 {
    color: #FFF;
    text-align: center;
    font-family: "IBM Plex Mono";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.p {
    color: #FFF;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.intro {
    width: 890px;
    /* height: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

