/* general styling */

/* * {
    background-color: #212121; 
} */

.body {
    background-color: #212121;
    /* remove this width*/
    /* width: 90rem;  */
}

.header {
    background-color: #212121;
    width: 90rem;
}

.main {
    background-color: #212121;
    width: 90rem;
}
/* header nav {
    position: sticky;
} */

body {
    margin: 0px;
}

header {
    background-color: #212121;
}
header nav {
    background-color: #212121;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* padding-top: 0.5rem; */
    padding-bottom: 2rem;
    background-color: #212121;
    border-bottom: 1px solid #F3FACE;
}

header nav a {
    font-family: "Inter";
    color: #F3FACE;
    text-decoration: none;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

body a {
    color: #5BE3C3;
}

body a:hover {
    color: #D8EA75;
}

header nav a:hover {
    text-decoration: underline;
    color: #5BE3C3;
}

h1 {
    color: #D8EA75;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 59.5625rem;
}

h2 {
    color: #D8EA75;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2.8rem;
    /* font-size: 3rem; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 55.6875rem;
}

h3 {
    color: #D8EA75;
    text-align: left;
    font-family: "IBM Plex Mono", monospace;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

h4 {
    color: #F3FACE;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



p {
    color: #F3FACE;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.5rem;
}

img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    max-width: 55rem;
    width: 890px;
}

/* section {
    scroll-margin-top: 3rem;
} */


/* .intro {
    width: 890px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
} */

/* vegalite styling */
.vegalite-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* max-width: 55rem; */
    /* width: 890px; */
}

#vg-tooltip-element {
    background-color: #FFFFFF !important;
    color: black !important;
}

#view, #view2, #view3, #view4, #view5, #view6, #view7 {
        width: 100vw;
        /* padding-left: 0.5rem; */
    }

/* content styling */

.content {
    width: 55.6875rem;
    justify-content: center;
    margin: 0 auto;
    /* margin-bottom: 10rem; */
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #212121;
}

/* .content-2 {
    width: 55.6875rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10rem;
    background-color: #D8EA75;
} */

.content-2 {
    width: 55.6875rem;
    justify-content: center;
    margin: 0 auto;
    /* margin-bottom: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem; */
    /* padding-top: 5rem;
    padding-bottom: 5rem; */
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #D8EA75;
}

/* .content-2 > * {
    width: 55.6875rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10rem;
} */

.content-2 h2 {
    color: #212121;
    background-color: #D8EA75;
}

.title-image-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding-bottom: 5rem;
}


.title-image img {
    width: 33.5rem;
    height: 33.4375rem;
    border: 10px solid #D8EA75;
    justify-content: center;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.title-image  {
    /* border: 10px solid #D8EA75; */
    /* display: flex; */
    width: 33.5rem;
    justify-content: center;
    align-items: center;
}

.down-arrow {
    /* display: flex; */
    width: 6.25rem;
    height: 6.25rem;
    justify-content: center;
    align-items: center;
}

.group-name h4 {
    text-align: center;
}

.highlight {
    font-weight: 600;
    color: #5BE3C3;
}

.highlight-2 {
    font-weight: 600;
    color: #212121;
}

#intro .content {
    padding-top: 3rem;
}

#vis-1 {
    background: #D8EA75;
    /* margin-top: 5rem;
    margin-bottom: 5rem; */
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#vis-2 {
    background: #D8EA75;
    /* margin-top: 5rem;
    margin-bottom: 5rem; */
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#intro, #vis-1-description, #vis-2-description, #vis-3-4, #vis-5-6-7-description, #vis-5-6-7, #vis-5-6-7-description-2 {
    background: #212121;
}

#vis-5-6-7 .content {
    padding-top: 1rem;
}


#tiktok-artist-trophy {
    background: #212121;
    padding-bottom: 6rem;
}

#tiktok-artist-trophy h4{
    background: #212121;
}

#tiktok-artist-trophy .content{
    background: #212121;
    /* margin-top: 2rem; */
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.tiktok-trophy {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* gap: 4.375rem; */
    gap: 5rem;
    background: #212121;
    margin-top: 0;

}

.tiktok-trophy h4 {
    width: auto;
    background: #212121;
    color: #5BE3C3;
    padding-bottom: 0;
    height: 0.1rem;
}

.tiktok-trophy p {
    width: auto;
    margin-bottom: 1rem;
    background: #212121;
}

.tiktok-trophy img {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background: #212121;
}

.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #212121;
}

.artist img {
    width: 250px;
    height: 250px;
    background: white;
    border: 10px solid #D8EA75;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

#vis-3-4 .vegalite-container {
    padding-top: 5rem;
    padding-top: 5rem;
}


#takeaways {
    background: #D8EA75;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#takeaways h2 {
    color: #212121;
    text-align: left;

}

#takeaways p {
    color: #212121;

}

#footer-space {
    background-color: #212121;
    padding-bottom: 9rem;
}


footer {
    background-color: #212121;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 1px solid #F3FACE;
}

.footer-content {
    background-color: #212121;
    width: 55.6875rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    /* margin-bottom: 10rem; */
}

.footer-content p {
    background-color: #212121;
    color: #F3FACE;
    font-family: "Inter";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1rem;
    padding-bottom: 0rem;
    
}


/* ----- reponsiveness ------ */

/* Tablet: 768px - 1024px */
@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
        width: 90%;
    }

    h2 {
        font-size: 2rem;
        width: 90%;
    }

    h3 {
        font-size: 1.8rem;
    }

    p {
        font-size: 1.3rem;
    }

    .content, .content-2, .footer-content {
        width: 90%;
        padding: 2rem 1rem;
    }

    .title-image img {
        /* width: 80%; */
        height: auto;
    }

    .tiktok-trophy {
        flex-direction: column;
        gap: 3rem;
    }

    .artist img {
        width: 200px;
        height: 200px;
    }

    .vegalite-container {
        /* width: 90%; */
        /* max-width: 700px; */
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #view, #view2, #view3, #view4, #view5, #view6, #view7 {
        width: 90vw;
        padding-left: 0.5rem;
    }
}

/* Mobile: up to 767px */
@media (max-width: 767px) {
    header nav ul {
        flex-direction: column;
        gap: 1.5rem;
        padding-bottom: 1rem;
    }

    header {
        margin-right: -1rem;
    }

    h1 {
        font-size: 2rem;
        width: 95%;
    }

    h2 {
        font-size: 1.5rem;
        width: 95%;
    }

    h3 {
        font-size: 1.4rem;
    }

    p {
        font-size: 1.1rem;
    }

    .content, .content-2, .footer-content {
        /* width: 95%; */
        padding: 1.5rem 1rem;
    }

    .title-image-arrow {
        gap: 2rem;
    }

    .title-image {
        width: 11.5rem;
    }

    .title-image img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }

    .tiktok-trophy {
        flex-direction: column;
        gap: 2rem;
    }

    .artist img {
        width: 180px;
        height: 180px;
    }

    .vegalite-container {
        /* width: 95%; */
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    #view, #view2, #view3, #view4, #view5, #view6, #view7 {
        /* max-width: 100vw; */
        width: 90vw;
        padding-left: 0.5rem;
    }

    .vis-1, .vis-2, .tiktok-artist-trophy, .takeaways, .footer-space {
        margin-right: -1rem;
    }

    footer {
        margin-right: -1rem;
    }
}


