* {
    background-color: #212121; 
}

.body {
    /* background-color: #212121; */
    width: 90rem;
}

.header {
    /* background-color: #212121; */
    width: 90rem;
}

.main {
    /* background-color: #212121; */
    width: 90rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 4rem;
}

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 55.6875rem;
}

h2 {
    color: #FFF;
    text-align: center;
    font-family: "IBM Plex Mono", monospace;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

p {
    color: #FFF;
    font-family: "Inter";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.5rem;
}

img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/* .intro {
    width: 890px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
} */

.content {
    width: 55.6875rem;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10rem;
}

.group-name p {
    text-align: center;
}

#tiktok-artist-trophy {
    background: #5D5D5D;
}

.tiktok-trophy {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 4.375rem;
}

.tiktok-trophy h1 {
    width: auto;
}

.tiktok-trophy h2 {
    width: auto;
    margin-bottom: 1rem;
}

.tiktok-trophy img {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    margin-top: 1rem;
    margin-bottom: 1rem;}


.artist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist img {
    width: 250px;
    height: 250px;
    background: white;

}


